@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --element-width: 250px;
  --element-height: 250px;
  --border-radius: 10px;
}

html,
body {
  overscroll-behavior: none;
}

.company-window{
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: height 0.3s ease;
  overflow: hidden;
}

.company-header{
  display: flex;
  align-items: center;
  background-color: #121212;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.add-button {
  background-color: black;
  color: white;
  border-radius: var(--border-radius);
  width: var(--element-width);
  height: var(--element-height);
  position: relative;
  margin: auto;
  font-size: 250px;
  font-weight: 100; /* Make the + not thick */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body.dark .dialog-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.dialog-input-label {
  margin-top: 10px;
  margin-top: 10px;
}

.in-wei-label {
  align-self: flex-end;
}

body.dark .dialog-box {
  background-color: #121212;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.dialog-box {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  z-index: 1001;
}

.dialog-header {
  font-size: 18px;
  margin-bottom: 10px;
}

.dialog-input {
  width: 60%;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #121212;
  border-radius: 5px;
}

.dialog-body {
  margin-bottom: 20px;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 10px;
}

.button-container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.dialog-button {
  background-color: #121212;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#metaBox {
  background-color: #121212;
  color: #fff;
  border-radius: 5px;
  border: none;
}

body.dark #metaBox {
  background-color: #fff;
  color: #121212;
  border-radius: 5px;
  border: none;
}

#metaBox:hover {
  background-color: #8c8c8c;
  color: #fff;
}

body.dark #metaBox:hover {
  background-color: #ffcc00;
  color: #121212;
}

.yearText {
  font-size: 64px;
  font-weight: 900;
  /* color: var(--foreground); */
  text-align: center;
  color: blue;
  margin-top: 1rem;
  display: border-box;
  /* make it more thick */
  text-shadow: 0 0 10px var(--foreground);
}
:root {
  --background: #ffffff;
  --foreground: #000000;
}
.dark {
  --background: #121212;
  --foreground: #ffffff;
}

body ::selection {
  background: #ffcc00;
  /* color: #121212; */
}
body.dark ::selection {
  background: #8c8c8c;
  /* color: #121212; */
}
/* 
::selection {
  background: var(--selection-background);
  text-decoration: inherit;
  background: var(--background) == '#121212'? 'yellow' : '#8c8c8c';
} */

@keyframes slide {
  0% {
    transform: translateX(-101%); /* Start slightly offscreen */
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(101%); /* Exit fully offscreen */
  }
}

.animate-slide {
  animation: slide 1s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform; /* Optimize for smoother rendering */
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: transparent; /* Dynamic color set via inline styles */
  margin: 0;
  border: none; /* Ensure no border */
  outline: none; /* Ensure no outline */
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.num-subs{
  background-color: black;
  color: white;
  width: var(--element-width);
  height: var(--element-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 1rem;
  margin: auto;
  border: 1px solid #fff;
}

body.dark .num-subs, body.dark .monthly-cost, body.dark .add-button{
  background-color: white;
  color: black;
}

.monthly-cost{
  background-color: black;
  color: white;
  width: var(--element-width);
  height: var(--element-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 1rem;
  padding: 1rem;
  margin: auto;
  border: 1px solid #fff;
}

