@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
}

.yearText {
  font-size: 64px;
  font-weight: 900;
  /* color: var(--foreground); */
  text-align: center;
  color: blue;
  margin-top: 1rem;
  display: border-box;
  /* make it more thick */
  text-shadow: 0 0 10px var(--foreground);
}
:root {
  --background: #ffffff;
  --foreground: #000000;
}
.dark {
  --background: #121212;
  --foreground: #ffffff;
}

body ::selection {
  background: #ffcc00;
  /* color: #121212; */
}
body.dark ::selection {
  background: #8c8c8c;
  /* color: #121212; */
}
/* 
::selection {
  background: var(--selection-background);
  text-decoration: inherit;
  background: var(--background) == '#121212'? 'yellow' : '#8c8c8c';
} */

@keyframes slide {
  0% {
    transform: translateX(-101%); /* Start slightly offscreen */
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(101%); /* Exit fully offscreen */
  }
}

.animate-slide {
  animation: slide 1s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform; /* Optimize for smoother rendering */
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: transparent; /* Dynamic color set via inline styles */
  margin: 0;
  border: none; /* Ensure no border */
  outline: none; /* Ensure no outline */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
